/*Imported embedded code for body-->*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');


/*Imported embedded code for header-->*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Seaweed+Script&display=swap');


.seaweed {
    font-family: "Seaweed Script", cursive;
    font-weight: 400;
    font-style: normal;
    
  }

  .nanum {
    font-family: "Nanum Brush Script", cursive;
    font-weight: 400;
    font-style: normal;
  }


#img1{
    
    float: left;
    margin: 20px;
    border-radius: 5px ;
    transform: rotateZ(-5deg);
}


#img2{
    float: right;
    margin: 20px;
    border-radius: 5px ;
    transform: rotateZ(5deg);
}

/*img border properties*/
.img  {
    border: #ddd;
    box-shadow: #999;
    border-radius: 5px;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* White background for the wrapper */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: #999;
   
}